@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import './mdx.scss';

body {
  font-family: 'Titillium Web';
  font-size: 18px;
}

.dash {
  color: #ff851b;
  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: flickerAnimation 1s infinite;
}
